.home {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-inline: calc(-1 * var(--gutter));
    translate: 0 5%;
}

.home > * {
    flex-basis: 60vh;
}

.home > :first-child {
    translate: 0 -5%;
}
.home > :last-child {
    translate: 0 5%;
}

@media (min-width: 60rem) and (min-height: 55rem) {
    .home {
        translate: 0 0;
    }
}
