.page {
    --region-space: var(--space-2xl-3xl);
}

@media (min-width: 60rem) and (min-height: 55rem) {
    .page {
        --region-space: 0;

        padding-block: var(--gutter);
        height: 100%;
        scroll-snap-align: center;
    }
}
