.project-list {
    margin-inline-start: auto;
}

.project-list ul {
    padding: 0;
    list-style: none;
    text-align: right;
}

.project-list ul > li {
    font-size: var(--size-step-2);
    text-transform: uppercase;
}
