{
    "printWidth": 90,
    "tabWidth": 4,
    "singleQuote": true,
    "bracketSpacing": false,
    "singleAttributePerLine": true,
    "quoteProps": "consistent",
    "trailingComma": "none",
    "arrowParens": "avoid"
}
