---
layout: base
---

<article class="home | page">
    {{ content | safe }}
</article>

{%- for subpage in collections.subpage | sortByOrder -%}
    <article
    class="page | wrapper region switcher"
    data-layout="1-2">
        {{ subpage.content | safe }}
    </article>
{%- endfor -%}
