.switcher {
    display: flex;
    flex-wrap: wrap;
    gap: var(--switcher-gap, var(--gutter));
}

.switcher > * {
    flex-grow: 1;
    flex-basis: calc((var(--switcher-container-width, 30rem) - 100%) * 999);
}

.switcher[data-switcher-layout='1-2'] > :nth-child(2) {
    flex-grow: 2;
}
.switcher[data-switcher-layout='2-1'] > :nth-child(1) {
    flex-grow: 2;
}
.switcher[data-switcher-layout='1-2-1'] > :nth-child(2) {
    flex-grow: 2;
}

/* limits horizontal layout to 4 childs */
.switcher > :nth-last-child(n + 5),
.switcher > :nth-last-child(n + 5) ~ * {
    flex-basis: 100%;
}
