<footer class="footer">
    <nav>
        <ul class="wrapper switcher">
            {% for item in navigation.bottom %}
                <li>
                    <a href="{{ item.url }}">{{ item.text }}</a>
                </li>
            {% endfor %}
        </ul>
    </nav>
</footer>
