<header class="header">
    <a href="#main" class="skip-link">{{ meta.skipContent }}</a>

    <div
        class="cluster">
        <a href="/">ELAN Berlin</a>

        <nav class="header__desktop-nav">
            <ul class="cluster">{% include "partials/menu-items.njk" %}</ul>
        </nav>

        <button class="header__menu-button" x-on:click="openModal($refs.menu)">MENU</button>

        <dialog
            x-ref="menu"
            class="menu-dialog">
            <div class="stack">
                <div>
                    <span class="visually-hidden">Close modal</span>
                    <button x-on:click="closeModal($refs.menu)" autofocus>X</button>
                </div>

                <nav>
                    <ul>{% include "partials/menu-items.njk" %}</ul>
                </nav>
            </div>
        </dialog>
    </div>

</header>
