<header>
    <a href="#main" class="skip-link">{{ meta.skipContent }}</a>

    <nav class="cluster wrapper">
        <a href="/">ELAN Berlin</a>

        <ul class="cluster">
            {% for item in navigation.top %}
                <li>
                    <a href="{{ item.url }}">{{item.text}}</a>
                </li>
            {% endfor %}
        </ul>
    </nav>
</header>
